<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.global_variables.Mapper">

	<cache type="org.apache.ibatis.submitted.global_variables.CustomCache">
		<property name="stringValue" value="${stringProperty}"/>
		<property name="integerValue" value="${integerProperty}"/>
		<property name="longValue" value="${longProperty}"/>
	</cache>

	<select id="getUser" resultType="org.apache.ibatis.submitted.global_variables.User">
		select * from ${table} where id = #{id}
	</select>

</mapper>
