<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!--全局配置-->
  <settings>
    <!-- 驼峰命名法 eg: javabean中的属性 lastName  数据库表中的字段 last_name 则 last_name 会被映射为 lastName -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="cacheEnabled" value="true" />
  </settings>

  <environments default="development">
    <environment id="development">

      <transactionManager type="JDBC">
        <property name="" value="" />
      </transactionManager>

      <dataSource type="UNPOOLED">
        <property name="driver" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://192.168.136.128:3306/mybatis?Unicode=true&amp;characterEncoding=utf8&amp;useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="12345" />
      </dataSource>

    </environment>
  </environments>

  <mappers>
    <mapper resource="org/apache/goat/chapter100/A010/EmployeeMapper.xml" />
  </mappers>
</configuration>
