<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.lazy_properties.Mapper">

  <resultMap type="org.apache.ibatis.submitted.lazy_properties.User"
    id="user">
    <id property="id" column="id" />
    <result property="name" column="name" />
  </resultMap>

  <resultMap type="org.apache.ibatis.submitted.lazy_properties.User"
    id="userWithLazyProperties" extends="user">
    <association property="lazy1" column="id" select="getLazy1"
      fetchType="lazy" />
    <association property="lazy2" column="id" select="getLazy2"
      fetchType="lazy" />
    <collection property="lazy3" column="id" select="getLazy3"
      fetchType="lazy" />
  </resultMap>

  <select id="getUser" resultMap="userWithLazyProperties">
    select * from users where id =
    #{id}
  </select>

</mapper>
