<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


  <!--plugins：注册插件  -->
  <plugins>
    <plugin interceptor="org.apache.goat.chapter200.D10.MyMybatisPlugin">
      <property name="username" value="goat"/>
      <property name="password" value="123654"/>
    </plugin>
    <!--<plugin interceptor="com.atguigu.mybatis.dao.MySecondPlugin"></plugin>-->
  </plugins>

  <environments default="development">

    <environment id="development">

      <transactionManager type="JDBC">
        <property name="" value="" />
      </transactionManager>

      <dataSource type="UNPOOLED">
        <property name="driver" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:mem:cache" />
        <property name="username" value="sa" />
      </dataSource>

    </environment>

  </environments>

  <mappers>
    <mapper resource="org/apache/goat/chapter200/D10/Foo.xml"/>
  </mappers>
</configuration>
