<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.includes.mapper">
  <sql id="sometable">
    ${prefix}Table
  </sql>

  <sql id="someinclude">
    <include refid="${include_target}"/>
  </sql>

<!-- 执行SQL： select field1, field2, field3 from SomeTable-->

  <select id="select" resultType="map">
    <include refid="someinclude">
        <property name="include_target" value="org.apache.ibatis.submitted.includes.fragments.select"/>
    </include>
    field1, field2, field3
    from
      <include refid="someinclude">
          <property name="prefix" value="Some"/>
          <property name="include_target" value="sometable"/>
      </include>
  </select>

  <!-- 执行SQL： VALUES (1) -->
  <select id="selectWithProperty" resultType="_int">
    <include refid="${ns}.values"/>
  </select>

  <update id="update" parameterType="map">
    <include refid="org.apache.ibatis.submitted.includes.fragments.update"/>
    <include refid="org.apache.ibatis.submitted.includes.mapper.sometable">
        <property name="prefix" value="Some"/>
    </include>
    set Field2 = #{field2,jdbcType=INTEGER},
    Field3 = #{field3,jdbcType=VARCHAR},
    where field1 = #{field1,jdbcType=INTEGER}
  </update>
</mapper>
