<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.stringlist.Mapper">

  <resultMap type="org.apache.ibatis.submitted.stringlist.User" id="results">
    <id column="id" property="id"/>
    <collection property="groups" ofType="string">
      <result column="group_id"/>
    </collection>
    <collection property="roles" ofType="string">
      <result column="rol_id"/>
    </collection>
  </resultMap>

	<select id="getUsersAndGroups" resultMap="results">
		select * from users where id = #{id}
	</select>


  <resultMap type="map" id="mapResults">
    <id column="id" property="id" />
    <collection property="groups" ofType="string" javaType="list">
      <result column="group_id" />
    </collection>
    <collection property="roles" ofType="string" javaType="list">
      <result column="rol_id"/>
    </collection>
  </resultMap>


	<select id="getUsersAndGroupsMap" resultMap="mapResults">
		select * from users where id = #{id}
	</select>

</mapper>
