<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>



<!--  <typeHandlers>-->
<!--    <typeHandler handler  ="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType ="org.apache.goat.chapter100.A.A025.item01.SexEnum"/>-->
<!--  </typeHandlers>-->

<!--  <typeHandlers>-->
<!--    <typeHandler handler  ="org.apache.goat.chapter100.A.A025.item01.MyEnumEmpStatusTypeHandler" javaType ="org.apache.goat.chapter100.A.A025.item01.SexEnum" />-->
<!--  </typeHandlers>-->


  <environments default="development">

    <environment id="development">

      <transactionManager type="JDBC">
        <property name="" value="" />
      </transactionManager>

      <dataSource type="UNPOOLED">
        <property name="driver" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://47.98.148.84:3306/mybatis?Unicode=true&amp;characterEncoding=utf8&amp;useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="12345" />
      </dataSource>
    </environment>

  </environments>

  <mappers>
    <mapper resource="org/apache/goat/chapter100/A/A025/item01/UsersMapper.xml"/>
  </mappers>

</configuration>


