<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
  namespace="org.apache.ibatis.submitted.constructor_automapping.Mapper">

  <resultMap
    type="org.apache.ibatis.submitted.constructor_automapping.Article"
    id="articleRM">
    <result property="id" column="id" />
    <result property="title" column="title" />
    <association property="author" resultMap="authorRM"
      columnPrefix="author_" />
  </resultMap>

  <resultMap autoMapping="true"
    type="org.apache.ibatis.submitted.constructor_automapping.Author"
    id="authorRM">
  </resultMap>

  <select id="nestedConstructorAutomapping" resultMap="articleRM"><![CDATA[
    select authors.id aid, authors.name author_name,
      articles.id, articles.title
    from articles
    left join authors on authors.id = author_id
  ]]></select>

</mapper>
