<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.associationtest.Mapper">

  <resultMap type="org.apache.ibatis.submitted.associationtest.Car" id="carResult">
    <id column="carid" property="id"/>
    <result column="cartype" property="type"/>
    <association property="engine" resultMap="engineResult"/>
    <association property="brakes" resultMap="brakesResult"/>
  </resultMap>
  <resultMap type="org.apache.ibatis.submitted.associationtest.Engine" id="engineResult">
    <result column="enginetype" property="type"/>
    <result column="enginecylinders" property="cylinders"/>
  </resultMap>
  <resultMap type="org.apache.ibatis.submitted.associationtest.Brakes" id="brakesResult">
    <result column="brakesType" property="type"/>
  </resultMap>

  <select id="getCars" resultMap="carResult">
    select * from cars
  </select>

  <select id="getCars2" resultMap="carResult">
    select 1 as carid, cartype, enginetype, enginecylinders, brakestype from cars where carid in (1,2)
  </select>

  <resultMap type="org.apache.ibatis.submitted.associationtest.Car" id="carResultTypeDetect">
    <id column="carid" property="id"/>
    <result column="cartype" property="type"/>
    <association property="engine">
      <result column="enginetype" property="type"/>
      <result column="enginecylinders" property="cylinders"/>
    </association>
    <association property="brakes">
      <result column="brakesType" property="type"/>
    </association>
  </resultMap>

  <select id="getCarsAndDetectAssociationType" resultMap="carResultTypeDetect">
    select * from cars
  </select>

</mapper>
