<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.bringrags.SimpleChildObjectMapper">

    <select id="getSimpleChildObjectById" resultMap="SimpleChildObjectMap">
        SELECT SimpleChildObject.id as sco_id, SimpleObject.id as so_id FROM SimpleChildObject
        LEFT JOIN SimpleObject ON SimpleChildObject.simple_object_id=SimpleObject.id
        WHERE SimpleChildObject.id=#{id}
    </select>

    <resultMap id="SimpleChildObjectMap" type="org.apache.ibatis.submitted.bringrags.SimpleChildObject">
        <constructor>
            <idArg column="sco_id" javaType="String" />
        </constructor>
        <association property="parentSimpleObject" resultMap="SimpleObjectMap" />
    </resultMap>

    <resultMap id="SimpleObjectMap" type="org.apache.ibatis.submitted.bringrags.SimpleObject">
        <constructor>
            <idArg column="so_id" javaType="String" />
        </constructor>
        <collection property="simpleChildObjects" javaType="List" ofType="org.apache.ibatis.submitted.bringrags.SimpleChildObject" resultMap="SimpleChildObjectMap" />
    </resultMap>

</mapper>
