<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.goat.chapter100.E056.CustomerMapper">


  <select id="getTest" resultType="org.apache.goat.common.Customer">
    select * from customers where 1=1
    <if test="id!=null">and id = #{id}</if>
  </select>

  <sql id="myTag">id IN (1,2,3)</sql>

  <!--这个<include refid="myTag" />会自动把上面的代码贴过来-->
  <select id="getTest2" resultType="org.apache.goat.common.Customer">
    SELECT * FROM customers WHERE <include refid="myTag"/>
  </select>



  <sql id="table_name">
    from ${tableName}
  </sql>

  <select id="getTest3" parameterType="int" resultType="org.apache.goat.common.Customer">
    select *
    <include refid="table_name">
      <property name="tableName" value="customers" />
    </include>
    where id = #{id}
  </select>

</mapper>
