<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="org.apache.ibatis.builder.xsd.AuthorMapper"
				xmlns="http://mybatis.org/schema/mybatis-mapper"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation="http://mybatis.org/schema/mybatis-mapper http://mybatis.org/schema/mybatis-mapper.xsd">

<!--

  <!ELEMENT select (#PCDATA | include | trim | where | set | foreach | choose | if | bind)*>

  <!ATTLIST select
  parameterMap CDATA #IMPLIED
  parameterType CDATA #IMPLIED
  resultMap CDATA #IMPLIED
  lang CDATA #IMPLIED
  resultOrdered (true|false) #IMPLIED
  resultSets CDATA #IMPLIED>

-->

	<select id="selectWithOptions" resultType="org.apache.ibatis.domain.blog.Author" fetchSize="200" timeout="10" statementType="PREPARED"
          resultSetType="SCROLL_SENSITIVE" flushCache="true" useCache="false"
          databaseId="mysql">
		select * from author
	</select>

</mapper>
