<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>



  <typeAliases>
    <!--
    1、typeAlias:为某个java类型起别名
                type:指定要起别名的类型全类名;默认别名就是类名小写；employee
                alias:指定新的别名
     -->
    <typeAlias type="org.apache.goat.common.model.Foo" alias="Foo0"/>
    <typeAlias type="org.apache.goat.common.model.Bar" alias="Bar0"/>
  </typeAliases>


  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC">
        <property name="" value="" />
      </transactionManager>
      <dataSource type="UNPOOLED">
        <property name="driver" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:mem:gname" />
        <property name="username" value="sa" />
      </dataSource>
    </environment>
  </environments>

</configuration>


