<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.primitives.Mapper">

	<select id="select" resultMap="assetrightMap">
		Select * from A left join B on B.REF = A.ID
	</select>

	<resultMap id="assetrightMap" type="org.apache.ibatis.submitted.primitives.Assetright">
		<id property="id" column="ID" jdbcType="NUMERIC" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<collection property="values" ofType="java.lang.Long">
			<result column="ENTRY" jdbcType="NUMERIC" />
		</collection>
	</resultMap>

</mapper>
