<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!-- 方式二 标签从内部标签读取  -->
  <properties>
    <property name="jdbc.driver" value="11"/>
    <property name="jdbc.url" value="22"/>
    <property name="jdbc.username" value="33"/>
    <property name="jdbc.password" value="44"/>
  </properties>

</configuration>
