<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.complex_type">

	<update id="updateProps" parameterType="org.apache.ibatis.submitted.complex_type.Item">
		insert into properties (item_id, property_id, value) values
		<foreach collection="properties" item="prop" close=";" separator=",">
			(#{id}, #{prop.id}, #{prop.value})
		</foreach>
	</update>

</mapper>
