<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.goat.chapter100.E.E001.EmployeeMapper">


  <!--resultType：如果返回的是一个集合，要写集合中元素的类型  -->
  <select id="getEmpsByLastNameLike" resultType="org.apache.goat.common.model.Employee">
    select * from tbl_employee where last_name like #{lastName}
  </select>


</mapper>
