<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.goat.chapter100.E018.EmployeeMapper">


  <!--
        使用 association 定义关联的单个对象的封装规则
     -->
  <resultMap type="org.apache.goat.common.Employee2" id="MyDifEmp2">
    <id column="id" property="id"/>
    <result property="lastName" column="last_name" />
    <result property="gender" column="gender" />
    <result  property="email" column="email"/>

    <!--  association可以指定联合的javaBean对象
        property="dept"：指定哪个属性是联合的对象
        javaType:指定这个属性对象的类型[不能省略]
        -->
    <association property="dept" javaType="org.apache.goat.common.Department">
      <id property="id" column="deptId" />
      <result property="departmentName" column="dept_name" />
    </association>
  </resultMap>

  <select id="getEmpAndDept" resultMap="MyDifEmp2">
    select e.id as empId,e.email,e.last_name ,e.gender,
           d.id as deptId ,d.dept_name
    from tbl_employee e left join tbl_dept d
    on e.d_id = d.id
    where e.id = #{id}
  </select>






</mapper>
