<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.apache.goat.chapter100.E.E070.UserMapper">

<!--
foreach 包含以下属性。
• collection ： 必填，值为要选代循环的属性名。这个属性值的情况有很多。
• item：变量名，值为从法代对象中取出的每一个值。
• index ：索引的属性名，在集合数组情况下值为当前索引值 ， 当选代循环的对象是 Map类型时，这个值为 Map 的 key （键值）。
• open：整个循环内容开头的字符串 。
• close ： 整个循环内容结尾的字符串。
• separator ：每次循环的分隔符 。

-->

  <select id="selectByIdList" resultType="org.apache.goat.model.SysUser">
    select *  from mybatis.sys_user
    where id in
    <foreach collection="list" open="(" close=")" separator="," item="id" index="i">
      #{id}
    </foreach>
  </select>
</mapper>
