<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.unknownobject.Mapper">

	<select id="getUser" resultMap="map">
		select * from users
	</select>

	<resultMap type="org.apache.ibatis.submitted.unknownobject.User" id="map" autoMapping="false">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="unknownObject" property="unknownObject" />
	</resultMap>

</mapper>
