<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.goat.chapter100.C.C004.EmployeeMapper">


  <!-- parameterType：参数类型，可以省略，
  获取自增主键的值：
      mysql支持自增主键，自增主键值的获取，mybatis也是利用 JDK中JDBC的 statement.getGenreatedKeys() 方法
      useGeneratedKeys="true"： 使用自增主键获取主键值策略
      keyProperty：指定对应的主键属性，也就是mybatis获取到主键值以后，将这个值封装给javaBean的哪个属性

      useGeneratedKeys 设置为 true 后， MyBatis会使用JDBC的getGeneratedKeys方法来取出 由数据库内部生成的主键。
      获得主键值后将其赋值给 keyProperty 配置的 id 属性。
      当需要设置多个属性时，使用逗号隔开，这种情况下通常还需要设置 keyColumn 属性
      按顺序指定数据库的列，这里列的值会和 keyProperty 配置的属性一一对应
  -->
  <insert id="addEmp" parameterType="org.apache.goat.common.Employee" useGeneratedKeys="true" keyProperty="id" >
    insert into
      tbl_employee(last_name,email,gender)
    values
           (#{lastName},#{email},#{gender})
  </insert>


  <!--
      <selectKey> 配置主键信息的标签
      keyColumn:对应数据库表中的主键列
      keyProperty:对应实体类中的属性
      after:代表执行下面代码之前，先执行当前里面的代码
      resultType: 数据库字段类型
      order 属性的设置和使用的数据库有关。
        在 MySQL 数据库中， order属性设置的值是 AFTER，因为当前记录的主键值在 insert 语句执行成功后才能获取到
        在 Oracle 数据库中， order 的值要设置为 BEFORE ，这是因为 Oracle中需要先从序列获取值，然后将值作为主键插入到数据库中
        <selectKey> 标签放置的位置不会影响 <selectKey> 中的方法，是否在 insert 前面或者后面执行的顺序，影响执行顺序的
        是 order 属性，这么写仅仅是为了符合实际的执行顺序，看起来更直观而己
   -->
  <insert id="addEmp2">
    insert into
      tbl_employee(last_name,email,gender)
    values
      (#{lastName},#{email},#{gender})
    <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>



</mapper>
