<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.dynsql.DynSqlMapper">
  <select id="selectDescription" resultType="string">
    <bind name="condition" value="p" />
    SELECT description
    FROM ibtest.names
    <if test="condition == null">
      WHERE id = 3
    </if>
  </select>
  <select id="selectDescriptionById" resultType="string">
    SELECT description
    FROM ibtest.names
    <if test="id != null">
      WHERE id = #{id}
    </if>
  </select>
  <!-- Specify a property name as variable name (Valid always) -->
  <select id="selectDescriptionByConditions" resultType="string">
    SELECT description
    FROM ibtest.names
    <if test="id != null">
      WHERE id = #{id}
    </if>
  </select>
  <!-- Specify a any name(object name) as variable name (Valid if exists type handler) -->
  <select id="selectDescriptionByConditions2" resultType="string">
    SELECT description
    FROM ibtest.names
    <if test="conditions != null">
      WHERE id = #{conditions}
    </if>
  </select>
  <!-- Specify a any name(object name) and nested property name (Valid if exists type handler) -->
  <select id="selectDescriptionByConditions3" resultType="string">
    SELECT description
    FROM ibtest.names
    <if test="conditions != null and conditions.id != null">
      WHERE id = #{conditions.id}
    </if>
  </select>

</mapper>
