<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.goat.chapter100.C.C070.FooMapper">


  <!--
    parameterMap.put("sexid", 0);
    parameterMap.put("usercount", -1);
 -->
  <parameterMap type="java.util.Map" id="getUserCountMap">
    <parameter property="sexid" mode="IN" jdbcType="INTEGER"/>
    <parameter property="usercount" mode="OUT" jdbcType="INTEGER"/>
  </parameterMap>


  <!--
         查询得到男性或女性的数量, 如果传入的是0就女性否则是男性
   -->
  <select id="getUserCount" parameterMap="getUserCountMap" statementType="CALLABLE">
    CALL ges_user_count(?,?)
  </select>


<!--  parameterMap用于传入参数，以便匹配SQL语句中的?号, 跟JDBC中的 -->
  <parameterMap type="org.apache.goat.common.User" id="insertUser-param">
<!--    利用parameterMap，可以定义参数对象的属性映射到SQL查询语句的动态参数上，注意parameterMap中<parameter/>标签的先后顺序不能颠倒！-->
    <parameter property="username"/>
    <parameter property="password"/>
  </parameterMap>


  <insert id="insertUser" parameterMap="insertUser-param">
    insert into t_user values ( null,?,? )
    <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>


</mapper>

