<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.call_setters_on_nulls.Mapper">

	<select id="getUserUnmapped" resultType="org.apache.ibatis.submitted.call_setters_on_nulls.User">
		select * from users
	</select>

	<select id="getUserInMap" resultType="map">
		select * from users
	</select>

	<select id="getUserMapped" resultMap="userMap">
		select * from users
	</select>

	<resultMap type="org.apache.ibatis.submitted.call_setters_on_nulls.User" id="userMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>


    <select id="getNameOnly" resultType="map">
        select name from users2
    </select>

    <select id="getNameOnlyMapped" resultMap="mapResult">
        select name from users2
    </select>

    <resultMap type="map" id="mapResult">
    	<result column="name" property="name" />
    </resultMap>

</mapper>
