<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.ognlstatic.Mapper">

	<select id="getUserStatic" resultType="org.apache.ibatis.submitted.ognlstatic.User">
		SELECT 	*
		FROM 	users
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			AND <foreach collection="{ (@org.apache.ibatis.submitted.ognlstatic.StaticClass@value) } " item="enum"
					open="name IN (" close=") " separator=", ">#{enum}</foreach>
			AND id = #{id}
		</trim>
	</select>

	<select id="getUserIfNode" resultType="org.apache.ibatis.submitted.ognlstatic.User">
       select * from users
       <if test="value not in {null, ''}">
       where name = #{value}
       </if>
	</select>

</mapper>
