<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.goat.chapter100.C.C012.EmployeeMapper">

  <select id="getEmpByIdAndLastName1" resultType="org.apache.goat.common.model.Employee">
    select * from tbl_employee where id = ${id}
  </select>

<!--  <select id="getEmpByIdAndLastName2" resultType="org.apache.goat.common.model.Employee">-->
<!--    select * from tbl_employee where id = #{id}-->
<!--  </select>-->


<!--  <select id="getEmpByIdAndLastName3" resultType="org.apache.goat.common.model.Employee">-->
<!--    select * from tbl_employee where id = ${id} and last_name = #{lastName}-->
<!--  </select>-->

<!--  <select id="getEmpByIdAndLastName4" resultType="org.apache.goat.common.model.Employee">-->
<!--    select * from ${tableName} where id = ${id} and last_name = #{lastName}-->
<!--  </select>-->

<!--  <select id="getEmpByIdAndLastName5" resultType="org.apache.goat.common.model.Employee">-->
<!--    select * from #{tableName} where id = ${id} and last_name = #{lastName}-->
<!--  </select>-->

</mapper>
