<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.goat.chapter100.E.E050.EmployeeMapper">


  <select id="testIf" resultType="org.apache.goat.common.Employee2">
    select * from tbl_employee where 1=1
    <if test="id!=null"> and id = #{id} </if>
  </select>


  <!-- 查询员工，要求，携带了哪个字段查询条件就带上这个字段的值 -->
  <!--  <if>标签中的test为 OGNL 表达式   -->
  <!--  &quot; 为双引号 “ 的转义字符  -->
  <!--  &amp; 为 and/&&  的转义字符  -->
  <select id="getEmpsByConditionIf" resultType="org.apache.goat.common.Employee2">
    select * from tbl_employee where 1=1
    <if test="id!=null">
      and id = #{id}
    </if>
    <if test="lastName!=null &amp;&amp; lastName!=&quot;&quot;">
      and last_name like #{lastName}
    </if>
    <if test="email!=null and email.trim()!=&quot;&quot;">
      and email=#{email}
    </if>
    <!-- ognl会进行字符串与数字的转换判断  "0"==0 -->
    <if test="gender==0 or gender==1">
      and gender=#{gender}
    </if>

  </select>


</mapper>
