<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.goat.chapter100.E034.EmployeeMapper">


  <select id="getEmpsByDeptId" resultType="org.apache.goat.common.Employee2">
    select * from tbl_employee where d_id=#{deptId}
  </select>



</mapper>
