<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.ibatis.submitted.enum_with_method.Mapper">

  <select id="getUser" resultType="org.apache.ibatis.submitted.enum_with_method.User">
    select *  from users where id = #{id}
  </select>

  <select id="getAll" resultType="org.apache.ibatis.submitted.enum_with_method.User">
    select *  from users
  </select>

  <!-- without parameterType="org.apache.ibatis.submitted.enum_with_method.User" -->
  <insert id="insertUser">
    insert into users values (#{id}, #{name}, #{cur})
  </insert>

</mapper>
