<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.immutable_constructor.ImmutablePOJOMapper">

    <select id="getImmutablePOJO" parameterType="int" resultType="ImmutablePOJO">
        SELECT
            i.immutable_id,
            i.immutable_description
        FROM immutables AS i
        WHERE i.immutable_id = #{pojoID}
    </select>

    <select id="getImmutablePOJONoMatchingConstructor" parameterType="int" resultType="ImmutablePOJO">
        SELECT
            i.immutable_id
        FROM immutables AS i
        WHERE i.immutable_id = #{pojoID}
    </select>

</mapper>
