<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.array_type_handler.Mapper">

  <insert id="insert"
    parameterType="org.apache.ibatis.submitted.array_type_handler.User">
    insert into users 
      (id, name, nicknames) 
    values 
      (#{id}, #{name}, #{nicknames,typeHandler=org.apache.ibatis.type.ArrayTypeHandler})
  </insert>

  <select id="getUserCount" resultType="int">
    select count(*) from users
  </select>

  <select id="getNicknameCount" resultType="int">
    select cardinality(nicknames) from users where id = 1
  </select>

</mapper>
