<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.include_property.Mapper">

  <sql id="colsStatic">
    col_c
  </sql>

  <sql id="colsSuffix">
    col_${suffix}
  </sql>

  <sql id="colsPrefix">
    ${prefix}a
  </sql>

  <sql id="nested">
    <include refid="${sqlToInclude}" />
  </sql>

  <sql id="nestedWithProperty">
    <include refid="${sqlToInclude}">
      <property name="prefix" value="" />
    </include>
  </sql>

  <sql id="nestedDynamicValue">
    <include refid="colsPrefix">
      <property name="prefix" value="${var}" />
    </include>
  </sql>


  <sql id="colsIfAttribute">
    <if test="'${value}' == 'x'">
      col_a COL_1
    </if>
    <if test="'${value}' == 'y'">
      col_b COL_2
    </if>
  </sql>

  <select id="selectNestedDynamicValue" resultType="string">
    select
    <include refid="nestedDynamicValue">
      <property name="var" value="col_" />
    </include>
    from table1
  </select>

  <select id="selectEmptyProperty" resultType="string">
    select
    <include refid="colsPrefix">
      <property name="prefix" value="" />
    </include>
    from table1
  </select>

  <select id="selectConfigVar" resultType="string">
    select
    <include refid="nested" />
    from table1
  </select>

  <select id="selectPropertyInRefid" resultType="string">
    select
    <include refid="nested">
      <property name="sqlToInclude" value="colsPrefix" />
      <property name="prefix" value="col_" />
    </include>
    from table1
  </select>

  <select id="selectRuntimeVar" resultType="string">
    select
    <include refid="nested">
      <property name="sqlToInclude" value="colsSuffix" />
    </include>
    from table1
  </select>

  <select id="selectNestedInclude" resultType="string">
    select
    <include refid="nestedWithProperty">
      <property name="sqlToInclude" value="colsPrefix" />
      <property name="prefix" value="col_" />
    </include>
    from table1
  </select>

  <select id="selectPropertyInAttribute" resultType="map">
    select
    <include refid="colsIfAttribute">
      <property name="value" value="x" />
    </include>,
    <include refid="colsIfAttribute">
      <property name="value" value="y" />
    </include>
    from table1
  </select>

</mapper>
