<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.serializecircular.PersonMapper">

	<resultMap id="map" type="org.apache.ibatis.submitted.serializecircular.Person">
		<id column="id" property="id" />
		<association column="nr_department" property="department" javaType="org.apache.ibatis.submitted.serializecircular.Department" select="org.apache.ibatis.submitted.serializecircular.DepartmentMapper.getById"/>
	</resultMap>

	<sql id="columns">
		person.id,
		person.nr_department
	</sql>

	<sql id="table">person</sql>

	<select id="getById" parameterType="Integer" resultMap="map">
        SELECT
        	person.id,
			person.nr_department
        FROM
        	person
        WHERE
        	id = #{id}
    </select>

</mapper>
